<body>
    <header>
        <div class="container">
            <h1>Dobrodošli u svet dečijih igračaka i edukativnih materijala</h1>
            <p>Dečija igra nije samo zabava, već fundamentalni element zdravog razvoja. Kroz igru, deca istražuju svet oko sebe, razvijaju svoje fizičke, kognitivne, emocionalne i socijalne sposobnosti. Igračke i edukativni materijali imaju ključnu ulogu u podržavanju ovog procesa.</p>
        </div>
    </header>

    <main>
        <div class="container">
            <section id="motorika">
                <h2>Razvoj motorike</h2>
                <p>Igračke poput kockica, lopti ili vozila pružaju deci priliku da poboljšaju koordinaciju, balans i motoričke veštine jer kretanje i interakcija sa okolinom doprinose razvoju finih i grubih motoričkih sposobnosti kod dece.</p>
                <img src="assets\motorika1.jpg" alt="Igračke">
                <img src="assets\motorika2.jpg" alt="Igračke">
                <img src="assets\motorika3.jpg" alt="Igračke">
            </section>

            <section id="kognitivni">
                <h2>Kognitivni razvoj</h2>
                <p>Igračke poput puzzli, igara pamćenja ili strateških igara podstiču razvoj pamćenja, koncentracije, kreativnog razmišljanja, kao i rešavanje problema odnosno ove aktivnosti stimulišu razvoj logičkog i apstraktnog razmišljanja i sposobnosti donošenja odluka.</p>
                <img src="assets\kongitivni1.jpg" alt="Kognitivni razvoj">
                <img src="assets\kongitivni2.jpg" alt="Kognitivni razvoj">
            </section>

            <section id="emocionalni">
                <h2>Emocionalni razvoj</h2>
                <p>Kroz igru sa lutkama i društvene igre deca istražuju i razvijaju zdrave socijalne interakcije odnosno saradnjom, komunikacijom i deljenjem sa drugom decom razvijaju se važne veštine kao što su timski rad, razumevanje drugih mišljenja, pravilno ponašanje, rešavanje konflikata, empatija i sl.</p>
                <img src="assets\emocionalni1.jpg" alt="Kognitivni razvoj">
            </section>

            <section id="kreativni">
                <h2>Kreativni razvoj</h2>
                <p>Bojanke, plastelin, setovi za pravljenje nakita samo su neki primeri koji omogućavaju deci da izraze svoju maštovitost i umetničke veštine. Kroz ovakve aktivnosti, deca uče da razmišljaju „van okvira” i da izražavaju svoju originalnost i individualnost.</p>
                <img src="assets\kreativni1.jpg" alt="Kreativni razvoj">
                <img src="assets\kreativni2.jpg" alt="Kreativni razvoj">
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Decije Igracke i Edukativni Materijali</p>
        </div>
    </footer>
</body>